<p id="notice"><%= notice %></p>

<%= @photo.name %>
<br>
<% @photo.photo.url.gsub('s3', "s3-us-west-2") %>
<%= image_tag @photo.photo.url(:small) %>
<br>
<%= link_to 'Edit', edit_photo_path(@photo) %> |
<%= link_to 'Back', photos_path %>
